html{
  font-size:62.5%;
}




body {
  display: block;
  margin: 0;
  font-family: 'Silkscreen', cursive;
  color: #444;
  background: #474d51;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

